header,nav,main,footer{
    display: block;
    width: auto;
    color: black;
}
body{
    color: #ffffff;
    background: #000000;
    height: 800px;
    margin: 0px;
    text-align: center; 
}
header{
    height: 100px;
    background: azure;
    position:relative;
    
}
nav{
    height: 80px;
    background-color:#006acc;
    padding-top: 10px;
}
footer{
    height: 50px;
    background: azure;
    clear: both;
    padding-top: 30px;
}
main{
    height: auto;
    overflow:hidden; 
}
#col-left {
    background-color:#006acc;
    width: 10%;
    height: 200px;
    float: left; 
    }
#col-center {
    background-color:#0d7ee7;
    width: 90%;
    height: 180px;
    float: left;
    padding-top: 20px;
    
}
#container{
    position: relative;
    margin: auto;
    width: auto;
    height: auto;
    overflow: hidden;
    border: 1px solid #ffffff;
}
#logo{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 200px;
    height: 80px;
    border: 2px dotted #731980;
}
#logo img {
    max-height:80px;
}
td{
    border: 1px solid black;
}
table{
    padding-left: 20px;
}
thead{
    background-color: grey;
}
tbody{
    background-color: blanchedalmond;
}
tbody>tr:nth-child(2n+0){
    background-color: yellow;
}
tbody>tr:nth-child(2n+1){
    background-color: yellowgreen;
}
.indeks{
    padding-top: 15px;
}